<div class="bg-dark text-white text-lowercase footer ">
    <div class="container">
        <div class="row">
            <div class="p-4 col-md-4">
                <h4 class="mb-4 text-secondary">Pizza Constructor</h4>
                <p class="text-white">A pizzeria that cooks whatever pizza you may need, from Margarita to your craziest pizza-idea</p>
            </div>
            <div class="p-4 col-md-4">
                <h4 class="mb-4 text-secondary">Mapsite</h4>
                <ul class="list-unstyled">
                    @Html.ActionLink("Home", "Index", "Home")
                    <br>
                    @Html.ActionLink("Templates", "Templates", "Home")
                    <br>
                    @Html.ActionLink("Create pizza", "PizzaConstructor", "Home")
                </ul>
            </div>
            <div class="p-4 col-md-4">
                <h4 class="mb-4">Contact</h4>
                <p>ya.bershadskiy@hotmail.com</p>
                <p>yats.sasha@gmail.com</p>
                <p>apekisheva.kristina@gmail.com</p>
                <p>artem.nykuliak@gmail.com</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-white">© Copyright 2017 PizzaConstructor - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
